<template>
    <div>{{date}}</div>
</template>

<script>
    export default {
        props:{
            dateProp: {
                String,
                default: null,
            },
            timeProp: {
                String,
                default: null,
            },
            dateTimeProp: {
                String,
                default: null,
            },
        },
        data(){
            return {
                date: null,
                time: null,
            }
        },
        watch: {
            dateProp: {
               handler(val){
                   this.date = this.formatDate(val, 'date');
               }
            },
            timeProp:{
               handler(val){
                   this.date = this.formatDate(val, 'time');
               }
            },
            dateTimeProp:{
                handler(val){
                    this.date = this.formatDate(val);
                },
            }
        },
        methods: {
            formatDate(dateString, type = 'all'){
                if(dateString === '' || !dateString) return '';
                var passedDate = new Date(dateString);
                var timeSegment = passedDate.getHours() > 11 ? 'PM' : 'AM';
                var months = [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ];
                let minutes = (passedDate.getMinutes() < 10 ? "0" : "") + passedDate.getMinutes();
                let returnStatement;
                if (type === 'all')
                {
                    returnStatement = passedDate.getHours()
                        + ':'
                        + minutes
                        + ' '
                        + timeSegment
                        + ' '
                        + passedDate.getDate()
                        + ' '
                        + months[passedDate.getMonth()]
                        + ' '
                        + passedDate.getFullYear();
                }
                else if(type === 'date')
                {
                    returnStatement = passedDate.getDate()
                        + ' '
                        + months[passedDate.getMonth()]
                        + ' '
                        + passedDate.getFullYear();
                }
                else if(type === 'time')
                {
                    returnStatement = passedDate.getHours()
                        + ':'
                        + minutes
                        + ' '
                        + timeSegment
                }

                return returnStatement;
            },
        },
        mounted(){
            this.$root.$on('parseDateTime',(data)=>{
                return this.formatDate(data[0],data[1]);
            });
            this.date = this.formatDate(this.dateTimeProp);
        }
    }
</script>

<style scoped>

</style>