<template>
    <div class="container">
        <div class="table-container" id="table_wrap">
            <div v-if="groupedData">
                <h3>Required Signatures</h3>
                <ul>
                    <li v-for="signer in requiredSignatures" style="list-style: none; font-style: italic;">{{signer.display}}</li>
                </ul>
            </div>
            <table id="share_table">
                <thead>
                <tr>
                    <th colspan="8"></th>
                    <th v-for="(header,i) in headers" colspan="2">
                        <span v-if="i === 'b' || i === 's'">{{ header }}s</span>
                        <span v-else-if="i === 'l'">Lender</span>
                        <span v-else>{{ header }}</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="shareAccess[i] === true" v-for="(row,i) in groupedData">
                    <td scope="row" class="rowHeader nonFocused" colspan="8" v-bind:class="{focused : i === bagID}" v-on:click="changeBagID(i, bagID)">
                        <span>{{row[0].Description || row[0].ShortName || ''}}</span>
                        <date :date-time-prop="row[0].DateCreated"></date>
                        <span v-if="row[0].Signers">Signed By: </span>
                        <span v-if="row[0].Signers" style="font-weight: bold;text-align: left;" v-for="(signer,key) in row[0].Signers">
                            <span v-if="row[0].Signers.length === 1 || key + 1 === row[0].Signers.length">{{signer.NameFull || signer.NameFirst + ' ' + signer.NameLast}}</span>
                            <span v-if="row[0].Signers.length > 1 && key + 1 !== row[0].Signers.length">{{signer.NameFull || signer.NameFirst + ' ' + signer.NameLast}},</span>
                        </span>
                        <i class="fas fa-external-link-alt teal openTabLink" v-on:click="openInNewTab(row[0].DocumentPath)"></i>
                    </td>
                    <td v-if="column.isSelf || column.isAnOwner" colspan="2" class="green_background self nonFocused" v-for="(column, k) in row">
                        <i class="fas fa-check-circle icons"></i>
                    </td>
                    <td v-else-if="shareWithRoles[column.PovRole] === undefined" colspan="2" class="red_background nonFocused" v-bind:class="{focused : i === bagID}">
                        <i v-if="!column.Edited" class="fas fa-times-circle icons"></i>
                        <i v-else class="far fa-times-circle icons"></i>
                    </td>
                    <td v-else-if="column.isShared" v-on:click="addSubtractSharingSum(k, i)" colspan="2" class="green_background nonFocused" v-bind:class="{focused : i === bagID}">
                        <i v-if="!column.Edited" class="fas fa-check-circle icons"></i>
                        <i v-else class="far fa-check-circle icons"></i>
                    </td>
                    <td v-else v-on:click="addSubtractSharingSum(k,i)" colspan="2" class="orange_background nonFocused" v-bind:class="{focused : i === bagID}">
                        <i class="far fa-circle icons"></i>
                    </td>
                    <td v-if="i === bagID" v-on:click="executeSharingChanges()" colspan="2" class="gray-background"><i class="far fa-save icons" v-bind:class="{saveIcon : changesMade}"></i></td>
                    <td v-else v-on:click="changeBagID(i, bagID)" colspan="2" class=" gray-background"><i class="fas fa-edit icons editIcon"></i></td> <!-- Toggle this row option -->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import Date from './Date';
    export default {
        components:{
           Date,
        },
        props: {
            documentBagShareRoute:{
                String,
                default: null,
            },
            documentShareEditRoute:{
                String,
                default: null,
            },
            documentSharedEmailRoute:{
                String,
                default: null,
            },
            transactionIDProp:{
                default: 0,
            },
            documentCodeProp:{
                String,
                default: null,
            },
            token:{
                String,
                default: null,
            },
            userRole:{
                String,
                default: null,
            },
            bagIDProp: {
                default: 0,
            },
        },
        data() {
            return {
                transactionID: {},
                documentCode: null,
                headers: [],
                firstHeader: 'Document',
                groupedData: [],
                selectedTable: null,
                accessActions: null,
                accessRoles: null,
                bufferSharingSum: 0,
                bagID: 0,
                changesMade: false,
                shareWithRoles: [],
                requiredSignatures: null,
                rolesAdded: {},
                rolesEdited: {},
                shareAccess: {}
            }
        },
        watch: {
            bagID: {
                handler(val, oldVal){
                    if (parseInt(val) !== parseInt(oldVal))
                    {
                        this.bufferSharingSum = parseInt(this.groupedData[val][0].SharingSum);
                    }
                },
            }
        },
        methods :{
            openInNewTab(url){
                window.open(url);
            },
            changeBagID(newVal, oldVal){
                if (parseInt(newVal) !== parseInt(oldVal)) {
                    if (this.changesMade) {
                        swal({
                            title: "Are you sure?",
                            type: "warning",
                            html:   '<div class="row">'+
                                '<div class="col-lg-12 col-md-12 col-sm-12">' +
                                'You have made changes to the current document. ' +
                                'You can save your changes, change document without saving,' +
                                'or press cancel to continue making changes to the current document.' +
                                '</div>'+
                                '<div class="col-lg-6 col-md-6 col-sm-6"><button id="dont_save"  class="btn-v2 btn-red">Don\'t Save</button></div>'+
                                '<div class="col-lg-6 col-md-6 col-sm-6"><button id="save" class="btn-v2 btn-teal">Save</button></div>'+
                                '</div>',
                            dangerMode: true,
                            showConfirmButton: false,
                            onBeforeOpen: () => {
                                const content   = swal.getContent();
                                const s$        = content.querySelector.bind(content);
                                const dontSave  = s$('#dont_save');
                                const save      = s$('#save');
                                dontSave.addEventListener('click', () => {
                                    this.changesMade = false;
                                    this.bagID = newVal;
                                    this.getData(this.bagID,false,false,null,true);
                                });
                                save.addEventListener('click', () => {
                                    this.executeSharingChanges(newVal);
                                });
                            },
                        })
                    }
                    else {
                        this.bagID = newVal;
                    }
                }
            },
            addSubtractSharingSum(column, row){
                if (parseInt(row) === parseInt(this.bagID)) {
                    if (this.groupedData[row][column].isShared) {
                        this.bufferSharingSum -= parseInt(this.groupedData[row][column].ValueInt);
                        this.groupedData[row][column].isShared = false;
                        if(this.rolesAdded[this.groupedData[row][column].PovRole]) delete this.rolesAdded[this.groupedData[row][column].PovRole];
                    }
                    else {
                        this.bufferSharingSum += parseInt(this.groupedData[row][column].ValueInt);
                        this.groupedData[row][column].isShared = true;
                        this.rolesAdded[this.groupedData[row][column].PovRole] = true;
                    }
                    this.groupedData[row][column].Edited = !this.groupedData[row][column].Edited;
                    if(this.rolesEdited[this.groupedData[row][column].PovRole] === undefined) this.rolesEdited[this.groupedData[row][column].PovRole] = true;
                    else delete this.rolesEdited[this.groupedData[row][column].PovRole];
                    this.changesMade = Object.keys(this.rolesEdited).length > 0;
                }
            },
            executeSharingChanges(bagID = null){
                this.$http.post(this.documentShareEditRoute, {
                    _token: this.token,
                    newSum: this.bufferSharingSum,
                    bagID: this.bagID,
                }).then((response) => {
                    if(response.body.status !== 'success')
                    {
                        console.log('The query was not executed');
                        console.log({query: response.body.query});
                    }
                    else if (response.body.status === 'success')
                    {
                        Swal2({
                            title: 'Making changes...',
                            onBeforeOpen: () => {
                                Swal2.showLoading();
                            },
                        });
                        if (Object.keys(this.rolesAdded).length > 0)
                        {
                            let role = JSON.stringify(this.rolesAdded);
                            this.$http.post(this.documentSharedEmailRoute, {
                                    _token: this.token,
                                    transactionID: this.transactionID,
                                    roles: role,
                                    documentName: this.groupedData[this.bagID][0].Description,
                                    documentCode: this.groupedData[this.bagID][0].Documents_Code,
                                }).then((r) => {
                                    let status = r.body.status;
                                    let html = '<div>';
                                    this.bagID          = bagID || response.body.bagID;
                                    this.rolesAdded     = {};
                                    this.changesMade    = false;
                                    if(status === 'success')
                                    {
                                        let emailsSent      = r.body.emailsSent;
                                        let emailsNotSent   = r.body.emailsNotSent;
                                        if (emailsSent.length > 0)
                                        {
                                            html += '<h3>Emails Sent To</h3>';
                                            html += '<ul style="list-style: none;">';
                                            $.each(emailsSent, (i, name) => {
                                                html += '<li>' + name + '</li>';
                                            });
                                            html += '</ul>';
                                        }
                                        if (emailsNotSent.length > 0)
                                        {
                                            html += '<br>' +
                                                '<h3>Emails Not Sent</h3>' +
                                                '<br>' +
                                                '<p>These emails could not be sent out ' +
                                                'because the email address associated ' +
                                                'with that person was not set.</p>' +
                                                '<ul style="list-style: none;">';
                                            $.each(emailsNotSent, (i, name) => {
                                                html += '<li>' + name + '</li>';
                                            });
                                            html += '</ul>';
                                        }
                                        html += '</div>';
                                        if(emailsNotSent.length === 0 && emailsSent.length === 0) html = null;
                                        this.getData(this.bagID, true,false, html);
                                    }
                                    else if (status === 'fail')
                                    {
                                        html += '<p>'+r.body.message+'</p></div>';
                                        this.getData(this.bagID, true,false, html);
                                    }
                                    else
                                    {
                                        html += '<p>An unknown error has occurred.</p></div>';
                                        this.getData(this.bagID, true,false, html);
                                    }
                            });
                        }
                        else
                        {
                            this.bagID          = bagID || response.body.bagID;
                            this.rolesAdded     = {};
                            this.changesMade    = false;
                            this.getData(this.bagID, true,false);
                        }

                    }
                    else
                    {
                        this.bagID          = bagID || response.body.bagID;
                        this.changesMade    = false;
                        this.getData(this.bagID,false,true);
                    }
                });
            },
            savedHeaders(column,array){
                var headers = {};
                $.each(array, function(i,obj){
                    $.each(obj, function(k, innerObj){
                        headers[innerObj.PovRole] = innerObj.Display.replace('Transaction Coordinator', 'TC');
                    });
                });
                return headers;
            },
            getData(bagID = null, showSuccess = false, showFail = false, customHTML = null, reverting = false){
                let title = bagID === null ? 'Loading data...' : 'Saving data...';
                if(reverting) title = 'Reverting changes...';
                Swal2({
                    title: title,
                    onBeforeOpen: () => {
                        Swal2.showLoading();
                    },
                });

                this.$http.get(this.documentBagShareRoute,{
                    _token: this.token,
                    transactionID: this.transactionIDProp,
                    documentCode: this.documentCode})
                    .then((response)=>{
                        Swal2.disableLoading();
                        Swal2.close();
                        this.groupedData        = response.body.data;
                        if(this.groupedData === null)
                        {
                            Swal2({
                               title: 'error',
                               text: 'You do not have access to this content or it does not exist.',
                               type: 'error',
                               timer: 5000,
                            }).then(() => {
                               window.history.back();
                            });
                        }
                        this.accessRoles        = response.body.accessRoles;
                        this.accessActions      = response.body.accessActions;
                        this.shareWithRoles     = response.body.shareRoles;
                        this.shareAccess        = response.body.shareAccess;
                        let falseCount = 0;
                        let shareAccessLength = Object.keys(this.shareAccess).length;
                        $.each(this.shareAccess, (i,o) => {if(o===false)falseCount++});
                        if(falseCount === shareAccessLength)
                        {
                            Swal2({
                                title: 'error',
                                text: 'You do not have access to this content.',
                                type: 'error',
                                timer: 5000,
                            }).then(() => {
                                window.history.back();
                            });
                        }
                        this.requiredSignatures = response.body.requiredSignatures;
                        this.bagID              = bagID || this.bagIDProp;
                        this.headers            = this.savedHeaders('PovRole',this.groupedData);
                        customHTML              = showSuccess ? customHTML || 'Data Successfully Processed' :
                                                                customHTML || 'An unknown error has occurred...';
                        if(showSuccess)Swal2({
                            title: 'Success',
                            type: 'success',
                            html: customHTML,
                        });
                        else if(showFail)Swal2({
                            title: 'Error',
                            type: 'error',
                            html: customHTML,
                        });
                    });
            },
        },
        mounted(){
            this.transactionID  = this.transactionIDProp;
            this.documentCode   = this.documentCodeProp;
            this.getData();
        },
    }
</script>

<style scoped>
    .focused{
        opacity: 1.0 !important;
        cursor: pointer;
    }

    .nonFocused{
        opacity: .4;
    }

    .icons{
        font-size: 45px;
    }

    .editIcon{
        cursor:pointer;
    }

    .self{
        opacity: .3;
    }

    #share_table{
        width:100%;
        border-collapse: separate;
        border-spacing: 10px;
        table-layout:fixed;
    }

    .orange_background{
        background: #C3900E;
    }

    .red_background{
        background: #CA666C;
    }

    .green_background{
        background: #ACD795;
    }

    .gray_background{
        background: #EAF6EB;
    }

    .blue_background{
        background: #D8E4F4;
    }

    #share_table tbody tr{
        width: 100%;
    }

    #share_table tbody tr td,#share_table tbody tr td{
        border: solid 1px rgba(0, 17, 255, 0.57);
        padding: 12px 12px 12px 12px;
        text-align: center;
    }

    #share_table td:last-child{

    }

    #share_table tbody tr td:first-child{
        text-align: left;
    }

    #share_table thead tr th{
        border: solid 1px #eeeeee;
        padding: 12px 12px 12px 12px;
        font-size: 15px;
    }

    #share_table thead tr th:first-child{
        border: none !important;
        padding: 12px 12px 12px 12px;
    }

    .saveIcon{
        animation: save-icon-flicker 3s infinite ease;
    }

    @keyframes save-icon-flicker{
        0% {
            color: #0fedff;
        }

        25%{
            color: #0abecb;
        }

        50%{
            color: #0fedff;
        }

        75%{
            color: #0abecb;
        }

        100%{
            color: #0fedff;
        }
    }
</style>