#banner_offers{
    background-image: url("../../images/prelogin/background.png");
    background-size: cover;
    min-height: 400px;
    padding: 70px 20px 30px;
}

#banner_offers .col-sm-6{
    margin-bottom: 30px;
    padding: 0;
}

#banner_offers h1{
    font-size: 85px;
    font-family: Roboto light, sans-serif;
    color: white;
}

#banner_offers h2{
    color: white;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}

#banner_offers button{
    border:none;
    margin-right: 10px;
    margin-top: 20px;
    height: auto;
    width: 150px;
    padding: 0px;
}
#banner_offers button:hover{
    border:1px solid #02A3C1;
}

.services_offers{
    padding: 50px 20px 100px;
}

.services_offers .col-sm-4{
    padding: 30px 20px;
}

.services_offers .col-sm-4:hover{
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services_offers h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}
.services_offers img{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.services_offers h4{
    font-weight: bold;
}

.services_offers p{
    font-size: 12px;
    padding: 10px;
}

.process{
    background-color: #CE343E;
    min-height: 400px;
    padding: 50px 10px;
}

.process h1{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
}

.process .col-sm-3{

    padding: 30px 2px;
}
.process h4{
    margin-bottom: 20px;
    color: white;
}

.process p{
    font-size: 12px;
    color: white;
    padding: 20px;
}

.process #icons{
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
}

.process #lines{
    height: 20px;
}

.process #mbl-view{
    display: none;
}

@media screen and (max-width: 780px) {
    #banner_offers{
        padding: 20px 30px;
    }
    #banner_offers h1{
        font-size: 75px;
    }
    #banner_offers h2{
        font-size: 25px;
    }
    .services_offers{
        padding-bottom: 30px;
    }
    .process #lines{
        display: none;
    }
    .process #mbl-view{
        display: block;
    }
}