footer {
    box-shadow: 0 50vh 0 50vh #000;
}

#agents{
    margin-top: 20px;
    margin-bottom: 20px;
}

#agents img{
    height: 150px;
    width: 150px;
}

#agents p{
    font-size: 120%;
}

#agents .container{
    max-width: none !important;
}

#offers-process #icons{
    height: 160px;
    width: 160px;
}

#offers-process p{
    font-size: 120%;
}

#services_offers p{
    font-size: 120%;
}

#services_offers img{
    height: 160px;
    width: 160px;
}

#welcome img{
    height: 140px !important;
    width: 140px !important;
}

#welcome p{
    font-size: 120%;
}

.why-use-section p{
    font-size: 130%;
}

.why-use-section h3{
    font-size: 250%;
}

.team img{
    height: 210px;
    width: 210px;
}

#brandsContainer .row div p{
    font-size: 130%;
    font-weight: lighter;
}

.our_mission p{
    font-size: 130%;
}

.our_mission .row{
    max-width: none !important;
}

.press-release p{
    font-size: 130%;
    font-weight: lighter;
}

.press-release img{
    height: 75px;
    width: 50px;
}

.team_about .container{
    max-width: none !important;
}

.team_about img{
    max-width: 200px;
    max-height: 200px;
}

.team_about p{
    font-size: 120%;
}

.team_about h4{
    font-size: 22px;
}

.team_about a{
    font-size: 17px;
}

@media screen and (max-width: 855px){
    #agents img{
        float: none !important;
        margin: auto;
    }
    #agents h3{
        text-align: center;
    }
    #agents p{
        max-width: 80% !important;
        margin: auto !important;
    }
}

@media screen and (max-width: 767px){
    .navbar-header{
        max-width: 90% !important;
        margin: auto !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1063px){
    .team_about .container .row div{
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 844px){
    .navbar-nav a{
        font-size: 12px !important;
    }
    .navbar-nav button{
        width: auto !important;
    }
    .navbar_prelogin{
        margin-left: 10%;
    }
}

@media screen and (min-width: 844px) and (max-width: 1078px){
    .navbar_prelogin{
        max-width: 85% !important;
        margin: auto;
    }
    .navbar_prelogin ul{
        float: left;
    }
}

@media screen and (min-width: 555px) and (max-width: 1343px){
    #welcome .row{
        max-width: 85%;
        margin: auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1172px){
    #agents .row{
        max-width: 87%;
        margin: auto;
    }
    #agents h3{
        text-align: center;
    }
    #agents img{
        margin: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .service{
        width: 38% !important;
        margin-left: 10%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .service{
        width: 40% !important;
        margin-left: 5%;
    }
}

@media screen and (max-width: 768px){
    #brandsContainer .row{
        max-width: 90%;
        margin: auto;
    }
    #brandsContainer p{
        max-width: 80%;
        word-wrap: break-spaces;
        margin: auto;
    }
}

@media screen and (min-width: 748px) and (max-width: 941px){
    #brandsContainer p{
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1154px){
    #brandsContainer .row{
        max-width: 90%;
        margin: auto;
    }
    #brandsContainer .row div{
        width: 40% !important;
    }
}

@media screen and (min-width: 701px) and (max-width: 844px){
    .navbar-nav{
        margin-left: 10% !important;
        max-width: 400px !important;
        float: none !important;
    }
}


