@media screen{

	#auth-body{
		height: 100vh;
		display: table;
		width: 100%;
		padding: 30px 15px;

		.auth-wrapper{
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			a.logo{
				display: inline-block;
				margin: 0 0 20px;

			}
			h1{
				margin: 0 0 10px;
				font-weight: 300;
				font-size: 1.5em;
				background: #222222;
				color: $white;
				margin:0;
				padding: 15px;
				text-transform: uppercase;
			}
		}
		form{
			label{
				font-size: 1em;
				font-weight: 400;
			}
			input,select{
				border-radius: 0;
			}
			@media (min-width: 992px) {
				text-align: left;
			}
		}
		.auth-others{
			.back-home{
				color: $red;
				font-size: 0.875em;
			}
		}
	}
}