/****** States *******/

.deactivated-noevents {
  opacity: .4;
  pointer-events: none;
}

.deactivated {
  background: $disabled !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.display-none {
  display: none;
}

.no-cursur {
  cursor: default !important;
}

.important {
  color: $red;
  padding-left: 5px;
}

.errors {
  display: none;
  text-align: left;
  font-size: 12px;
  color: $red;
}

.overflow-hide {
  overflow: hidden;
}

.true-checked {
  background-color: $teal !important;
  color: white !important;
}

.false-checked {
  background-color: $red !important;
  color: white !important;
}

.check-false:hover {
  background-color: $red;
  color: white;
}

.check-true:hover {
  background-color: $teal;
  color: white;
}

.check-false {
  color: $red;
  border: 1px solid #c94543;
}

.check-true {
  color: $teal;
  border: 1px solid #01bdb7;
}

input[type="button"]:disabled{
    background: $disabled;
    pointer-events: none;
}