/***** Add Person ****/

.add_person_container_wrapper{
  background: white;
  border: solid 1px #f7f7f7;
  border-radius: 10px;
  padding: 70px 50px;
  margin: auto;
  width: 90%;
}
.all_containers{
  max-width: 600px;
  padding: 20px;
}
.add_person_container{
  background: white;
  border: solid 1px #a3a3a3;
  border-radius: 3px;
  margin-left: 20px;
  margin-bottom: 15px;
  text-align: center;
  padding: 5px 15px 5px 15px;
}
.add_person_container:hover h4{
  color: white;
}
.add_person_container:hover{
  background: $teal;
  cursor: pointer;
}
.add_person_container h4{
  color: #a3a3a3;
  font-size: 13px;
}
.add_person_title{
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}