/******** Aux Modal   ******/

.modal-header{
  margin-top: -10px;
  border-bottom: none;
}
.modal-title{
  font-size: 20px;
}
.modal-content{
  padding: 25px !important;
}
.address-field{
  display: inline;
  width: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cd6563;
  outline: none;
  padding-left:10px;
  padding-right:10px;
}
.text-field{
  display: inline;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cd6563;
  outline: none;
  padding-left:10px;
  padding-right:10px;
}
.modal-content{
  padding: 20px;
}
.modal-label{
  padding-left: 0;
  padding-right: 0;
}
.address-label{
  font-size: 16px;
  line-height: 22px;
  color: rgb(0,0,0);
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}
.modal-label{
  font-size: 12px;
  line-height: 22px;
  color: rgb(0,0,0);
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
}
.o-select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 16px;
  background-color: white;
  border: none;
  //background: url("{{ asset("/images/icons/dropdown.png") }}") no-repeat 98% center;
  background-size: 20px 20px;
  border-bottom: 1px solid #cd6563;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  padding-left: 10px;
}
.o-select::before{
  content: "\f107";
  font-family: "FontAwesome";
  color: black;
  position: absolute;
  right:20px;
  top:5px;
  z-index: -1;
  pointer-events: none;
}

.o-radio-container{
  display: inline;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  font-weight: 600;
  margin:7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 10px;
  border-radius: 5px;
}

.o-radio-container input{
  display: none;
  opacity: 0;
}
.o-radio-container i{
  font-size: 14px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.errors {
  display: none;
  text-align: left;
  font-size: 12px;
  color: red;
}

.modal-content.dim:after{
  content: "";
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: block;
  z-index: 3;
  background:rgba(0, 0, 0, 0.7);
}
.o-spinner{
  display: none;
}
.o-field-row{
  margin-top: 15px;
  margin-bottom: 15px;
}
.o-field-row .label-control{
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22px;
  color: rgb(0,0,0);
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.modal-notes{
  display: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  background: #F9F9F9;
  transition: all 1s;
}
.modal-notes.active{
  display: block;
}
.o-spinner{
  display: none;
  font-size: 80px;
  color: #ffff;
  position: absolute;
  left: 44%;
  top: 35%;
  z-index: 6;
  transform: translateX(-50%, -50%);
}